

.gamemain {
  position: relative;
  width: 384px;
  height: 435px;
  text-align: center;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 10%;
  margin-left: 32%;
}

.square {
  float: left;
}

.squareback {
  float: left;
}

.clear {
  clear: both;
}

.front {
  position: absolute;
}
.back {

}

img {
  margin: 2px;
  border-radius: 20%;
}

.vanish {
  visibility: hidden;
}

.pairfound {
  visibility: hidden;
}

.webmain {
  width: 100%;
}

.scoreboardtext {
  color: black;
}
